/***********************/
/* LOGO + NAVIGATION
/***********************/

.header {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  letter-spacing: 0.1rem;
  height: 7.6rem;
}

.logo {
  width: 17.4rem;
  margin-right: 4rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-links .btn {
  margin-left: 1.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-transform: uppercase;
  color: #727475;
  font-size: 1.6rem;
  padding: 0.9rem 1.6rem;
  display: inline-block;
}

.sub-nav--included {
  position: relative;
}

.sub-nav--included:hover > .sub-nav {
  visibility: visible;
}

.sub-nav--included::after {
  content: "";
  height: 2rem;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  /* background-color: red; */
}

.sub-nav--level-2.sub-nav--included::after {
  left: 100%;
  top: 0;
  width: 2rem;
  height: 100%;
}

.sub-nav--included:hover::after {
  display: block;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150%;
  left: -4%;
  flex-shrink: 0;
  box-shadow: 0 0 2rem rgba(242, 242, 242, 0.6);
  visibility: hidden;
  z-index: 1;
  background-color: #fff;
}

.sub-nav--level-2 .sub-nav {
  /* custom version css for sub nav level 2 */
  left: calc(100% + 1.8rem);
  top: 0;
}

.sub-nav-link:link,
.sub-nav-link:visited {
  padding: 1.6rem 6.4rem 1.6rem 2rem;
  white-space: nowrap;
  display: block;
  border-bottom: 1px solid #f1f1f1;
  color: #555;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.sub-nav-link:active,
.sub-nav-link:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

/***********************/
/* HERO
/***********************/
.hero-section {
  position: relative;
  margin-bottom: 6rem;
}

.hero-img {
  background-image: url(../img/slide-01.jpg);
  width: 100%;
  height: calc(100vh - 7.6rem);
  background-size: cover;
  background-position-y: center;
}

.hero-content {
  position: absolute;
  position: absolute;
  width: 40rem;
  top: 50%;
  transform: translateY(-50%);
  right: 19%;
}

.hero-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: absolute;
  left: -20%;
  align-items: center;
  transform: rotate(-2deg);
}

.hero-heading {
  font-weight: 700;
  font-size: 4.5rem;
  background-color: #555;
  color: #fff;
  text-transform: capitalize;
  padding: 0.8rem 1.8rem;
  white-space: nowrap;
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  margin-top: 16rem;
}

.hero-item {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  gap: 2.4rem;
}

.hero-icon {
  font-size: 2rem;
  line-height: 1.4;
}

.hero-btn {
  position: relative;
}

.hero-btn:link,
.hero-btn:visited {
  padding: 1.6rem 5rem;
  transition: all 0.2s;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-left: 4.8rem;
}

.hero-btn:active,
.hero-btn:hover {
  border-radius: 0;
}

.hero-btn::before {
  content: "$25";
  color: #fff;
  background-color: #555;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.4rem;
  transform: translate(50%, -50%);
}

.hero-slide-icon {
  position: absolute;
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hero-slide-icon--left {
  left: 3.2rem;
}

.hero-slide-icon--right {
  right: 3.2rem;
}

/***********************/
/* FEATURE ROW
/***********************/
.feature-row {
  grid-template-columns: 67fr 33fr;
  align-items: start;
  height: 65.5rem;
  gap: 0;
  margin-bottom: 6.2rem;
}

.feature-row-content {
  position: relative;
  padding-top: 7.5rem;
  padding-left: 6rem;
  padding-right: 7rem;
}

.feature-row-btn .btn {
  font-size: 1.4rem;
  padding: 1.5rem 3.5rem;
  margin-bottom: 6.2rem;
  letter-spacing: 0.1rem;
}

.feature-row-boxes {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.feature-row-box:link,
.feature-row-box:visited {
  height: 20rem;
  width: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
}

.feature-row-box::after {
  padding: 0.8rem 2rem 0.5rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  letter-spacing: 0.1rem;
}

.feature-row-box:nth-child(1)::after {
  content: "700 $";
  background-image: linear-gradient(to right, #ffd205, #ff9b05);
}
.feature-row-box:nth-child(2)::after {
  content: "500 $";
  background-image: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}
.feature-row-box:nth-child(3)::after {
  content: "400 $";
  background-image: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}
.feature-row-box:nth-child(4)::after {
  content: "1200 $";
  background-image: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
}

.feature-row-box:nth-child(1) {
  background-image: url(../img/package-01-150x150.jpg);
}
.feature-row-box:nth-child(2) {
  background-image: url(../img/package-02-150x150.jpg);
}
.feature-row-box:nth-child(3) {
  background-image: url(../img/package-03-150x150.jpg);
}
.feature-row-box:nth-child(4) {
  background-image: url(../img/package-04-150x150.jpg);
}

.feature-row-img {
  background-image: url(../img/para-07.jpg);
  background-position: center;
  height: 100%;
  background-size: cover;
  margin-right: -1.2rem;
  position: relative;
}

.feature-row-img-icon:link,
.feature-row-img-icon:visited {
  background-image: url(../img/icon-play.png);
  background-size: cover;
  width: 8rem;
  height: 8rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

/***********************/
/* SERVICE SECTION
/***********************/
.service-section {
  background-color: #555;
  color: #fff;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
  position: relative;
  margin-bottom: 7.5rem;
}

.service-section .container {
  gap: 5rem;
  padding-top: 2rem;
}

.service-section .main-heading,
.service-section .sub-heading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.service-box {
  grid-template-columns: 1fr 4fr;
  gap: 0;
}

.service-box:nth-child(1) .btn {
  background-color: #1abc9c;
}
.service-box:nth-child(2) .btn {
  background-color: #ff6868;
}
.service-box:nth-child(3) .btn {
  background-color: #17b9d4;
}
.service-box:nth-child(4) .btn {
  background-color: #f4a36b;
}
.service-box:nth-child(5) .btn {
  background-color: #c755d9;
}
.service-box:nth-child(6) .btn {
  background-color: #ff6868;
}

.service-img {
  width: 5rem;
}

.service-box-heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
  letter-spacing: 0.1rem;
}

.service-box-desc {
  line-height: 1.8;
  margin-bottom: 2.2rem;
  color: #fff;
}

.service-box-btn:link,
.service-box-btn:visited {
  text-transform: capitalize;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/***********************/
/* SALE SECTION
/***********************/
.sale-section {
  grid-template-columns: 26fr 74fr;
  margin-bottom: 7rem;
}

.sale-banner {
  background-color: #f4a36b;
  color: #fff;
  text-align: center;
  padding: 8.8rem 5.65rem 8.8rem;
}

.sale-banner .main-heading,
.sale-banner .sub-heading {
  color: #fff;
}

.sale-banner .main-heading {
  font-weight: 700;
  line-height: 1.4;
  font-size: 4rem;
}

.sale-time {
  padding-bottom: 5.6rem;
  gap: 3.2rem;
}

.sale-time-number {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

.sale-time-unit {
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}

.sale-btn:link,
.sale-btn:visited {
  color: #f4a36b;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 1.6rem 4rem;
}

.sale-preview-card {
  border: 1px solid #f1f1f1;
}

.sale-preview-img {
  position: relative;
}

.sale-preview-img::after {
  width: 5rem;
  height: 5rem;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  top: 100%;
  right: 5%;
  background-size: 2.6rem 2.6rem, cover;
  background-position: center, center;
  transform: translateY(-50%);
  display: inline-block;
}

.sale-preview-card:nth-child(1) .sale-preview-img::after {
  background-image: url(../img/sale-preview-img-icon-1.png),
    linear-gradient(to right, #ffd205, #ff9b05);
}

.sale-preview-card:nth-child(2) .sale-preview-img::after {
  background-image: url(../img/sale-preview-img-icon-2.png),
    linear-gradient(to right, #f76570 0%, #f78d65 100%);
}

.save-preview-content {
  padding: 3rem;
}

.sale-preview-place {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.sale-preview-continent {
  color: #9a9a9a;
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.sale-preview-continent-icon {
  width: 1.4rem;
  margin-right: 0.4rem;
}

.sale-preview-continent-name {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.sale-preview-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  border-left: none;
  border-right: none;
  padding: 1.6rem 0;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.sale-previvew-type {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: #555;
  text-transform: uppercase;
  line-height: 1.4;
}

.sale-preview-amount {
  color: #fff;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.1rem 0.6rem;
  letter-spacing: 0.6rem;
  margin-left: 0.4rem;
}

.sale-preview-card:nth-child(1) .sale-preview-amount {
  background-color: #ffd205;
}

.sale-preview-card:nth-child(2) .sale-preview-amount {
  background-color: #f76570;
}

.sale-preview-price {
  font-size: 2.6rem;
}

.sale-preview-price--old {
  font-size: 2rem;
  color: #9a9a9a;
  text-decoration: line-through;
  margin-right: 1rem;
}

.sale-preview-btn:link,
.sale-preview-btn:visited {
  font-size: 1.4rem;
  padding: 1.2rem 2rem;
  letter-spacing: 0.1rem;
}

.sale-preview-card:nth-child(1) .sale-preview-btn {
  background-color: #ffd205;
}

.sale-preview-card:nth-child(2) .sale-preview-btn {
  background-color: #f76570;
}

/***********************/
/* ARTICLE SECTION
/***********************/
.article-section {
  margin-bottom: 8.4rem;
}

.article-section > .main-heading {
  text-align: center;
  text-transform: uppercase;
}

.article-section > .main-heading > .underline-text::after {
  background-color: #14d5b1;
}

.article-section > .sub-heading {
  text-align: center;
}

.article-box {
  gap: 0;
}

.article-img {
  background-size: cover;
  background-position: center;
}

.article-content {
  padding: 3.2rem 3rem;
  border: 1px solid #f1f1f1;
}

.article-content .main-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.article-content .sub-heading {
  margin-bottom: 1.4rem;
}

.article-desc {
  margin-bottom: 1.6rem;
}

.article-btn:link,
.article-btn:visited {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/* article 1  */
.article-box:nth-child(1) .article-img {
  background-image: url(../img/blog-01.jpg);
}

.article-box:nth-child(1) .article-btn {
  background-color: #ba71da;
}

/* article 2  */
.article-box:nth-child(2) .article-img {
  background-image: url(../img/blog-04.jpg);
}

.article-box:nth-child(2) .article-content {
  background-color: #1abc9c;
  border: none;
}

.article-box:nth-child(2) .main-heading,
.article-box:nth-child(2) .sub-heading,
.article-box:nth-child(2) .paragraph {
  color: #fff;
}

.article-box:nth-child(2) .article-btn {
  background-color: #fff;
  color: #1abc9c;
}

/* article 3 */
.article-box:nth-child(3) .article-img {
  background-image: url(../img/blog-03.jpg);
}

.article-box:nth-child(3) .article-content {
  background-color: #17b9d4;
  border: none;
}

.article-box:nth-child(3) .main-heading,
.article-box:nth-child(3) .sub-heading,
.article-box:nth-child(3) .paragraph {
  color: #fff;
}

.article-box:nth-child(3) .article-btn {
  background-color: #fff;
  color: #17b9d4;
}

/* article 4 */
.article-box:nth-child(4) .article-img {
  background-image: url(../img/blog-02.jpg);
  background-size: cover;
  background-position: center;
}

.article-box:nth-child(4) .article-btn {
  background-color: #ff6868;
}

/***********************/
/* FOOTER
/***********************/
.footer {
  height: 50rem;
  background-image: url(../img/para-07.jpg);
  display: flex;
  align-items: center;
  background-position: center;
}

.footer > .container {
  background-color: #fff;
}

.footer-container {
  padding: 4.6rem;
  gap: 3.2rem;
}

.footer-info {
  padding-right: 1.2rem;
}

.footer-logo {
  width: 16rem;
  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.social-link {
  display: inline-block;
  width: 2.4rem;
}

.footer-contact-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.2rem;
  line-height: 3.8rem;
}

.footer-contact-item span {
  color: #9a9a9a;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

.footer-contact-icon {
  color: #9a9a9a;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-right: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.4rem;
  opacity: 0.4;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  background-color: #f4a36b;
  align-items: center;
  padding: 2rem 2rem;
  grid-column: 1 / -1;
}

.footer-copyright span {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
